
[Unit]
Description=GitHub Actions Notifier
 
[Service]
Type=simple
WorkingDirectory=/opt/gha-notifier
ExecStart=/usr/local/bin/pipenv run python3 ghactions.py
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
